*{
    padding: 0;
    margin: 0;
}

.inter {
  font-family: "Inter", sans-serif;
}

/* common style  */
.flex{
    display: flex;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border-radius: 25px;
    width: 135px;
    height: 45px;
}

 /* navber  */
.navber-continer{
    background-color: #412567;
    width: 100%;
    height: 92px;
}

.navber{
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.logo h1 span{
    color: white;
}

.nav-link{
    list-style: none;
    color: white;
    gap: 50px;
}

/* bannar-section  */
.bannar-section{
    position: relative;
    z-index: -2;  
}

.bg-image img{
    width: 100%;
    position: relative;
    z-index: -1;  
}

.hero-imagefirst{
    width: 18%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
     top: 100px;
     left: 695px; 
    z-index: 2;
}
.hero-imagesec{
    position: absolute;
     margin: 0 auto;
    top: 170px;
  left: 775px;
    z-index: 3;

}
.hero-content{
    position: absolute;
    margin: 0 auto;
    top: 520px;
    left: 515px;
    text-align: center;
    z-index: 4;
    width: 550px;
    height: 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.hero-content{
    color: white;
}

.hero-content h1{
    font-weight: 800;
    font-size: 3rem;
}

.hero-content p{
    font-size: 1rem;
}

/* abouth section  */
.about-section{
    background-color: #1A0B2E;
    width: 100%;
    height: 650px;
    text-align: center;
    color: white;
    padding: 50px;
    box-sizing: border-box;
}

.about-content-continer{
    flex-direction: column;
    gap: 25px;
    margin-bottom: 150px;
}

.about-section h2 {
    font-weight: 700;
    font-size: 3rem;
}

.about-section p{
    font-size: 1rem;

}

.about-card-continer{
    font-weight: 700;
    font-size: 3rem;
}

.about-card-continer h3{
    color: #00FF88;
}

.about-card{
    justify-content: space-around;
}

/* end about section  */

/* Why Choose Section  */

.why-choose-section{
    background-color: #230E3D;
    width: 100%;
    height: 950px;
    box-sizing: border-box;
    padding: 0 200px; 
}

.why-choose-section h1{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 80px 0px;
}

.why-choose-section-card,
h3,
p
{
    color: white;
}

.why-choose-section-card{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.premium-audio-quality-card{
    grid-column: span 1;
    grid-row: span 2;

}
.mobile-friendly{
    grid-column: span 2;
    grid-row: span 1;

}

.global-community{
    grid-column: span 2;
    grid-row: span 1;
}

.exclusive-interviews{
      grid-column: span 2;
     grid-row: span 1;
}

.card{
    box-sizing: border-box;
    background-color: #351165;
    border-radius: 12px;
    padding: 15px;
    margin: 5px;
    width: 100%;
    height: 100%;
}

/* featured-episodes section  */
.featured-episodes{
     background-color: #1A0B2E;
    width: 100%;
    height: 1250px;
    box-sizing: border-box;

}

.featured-episodes h1{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

.videofirst{
    max-width: 25%;
    height: 430px;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #230E3D;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.video-continer{
    display: flex;
    justify-content: space-around;

}

/* host-section section  */
.host-section-card{
    width: 1200px;
    height: 280px;
    background-color: #230E3D;
    margin: 0 auto;
    align-items: center;
    color: white;
    gap: 15px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
}

.card-continar{
    flex-direction: column;
    gap: 10px;
}

.card-continar h4{
    font-weight: 700;
    font-size: 2rem;

}
.card-continar p{
    font-size: 1rem;
}
/* footer section  */
.footer{
    position: relative;
}

.footer-section img{
    width: 100%;
    position: relative;
    z-index: -1;

}

.end-footer{
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 130px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    text-align: center;
    margin: 0 auto;
}

.end-footer img{
    width: 25%;
    margin: 0 auto;
}

.end-footer-icon{
    gap: 5px;
    margin: 0 auto;
}

.end-footer p{
    color: white;
}

